@font-face {
    font-family: "auth-font-rg";
    src: url("../../props/fonts/AvenirNextLTPro-Regular.otf");
};
@font-face {
    font-family: "auth-font-bd";
    src: url("../../props/fonts/AvenirNextLTPro-Bold.otf");
};

// Colours
$primary-colour: #39CDCC;